{% extends 'base.html' %}

{% block nav %}
    {%  if request.user.is_authenticated %}
        {% if perms.webapp.add_project %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'webapp:product_add' %}">Создать товар ( + )</a>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}




{% block content %}
    <form class="d-flex mx-auto " role="search">
        {{ form.search }}
        <button class="btn btn-outline-success ms-2" type="submit">Найти</button>
    </form>
    <h1>Список товаров</h1>
    {% include "partial/product_list.html" %}
{% endblock %}